@page
@model ProEShop.Web.Pages.Admin.Feature.IndexModel
@{
    ViewData["Title"] = "ویژگی های دسته بندی ها";
}

<div class="card text-dark bg-white border-0 shadow">
    <div class="card-body">
        <h5 class="card-title">
            @ViewData["Title"]
        </h5>
        <div class="d-grid d-lg-block mb-2">
            <a asp-page-handler="Add" class="btn btn-outline-primary show-modal-form-button">
                افزودن ویژگی دسته بندی
            </a>
        </div>
        <form class="alert alert-secondary search-form-via-ajax">
            <input asp-for="Features.Pagination.CurrentPage" />
            <input asp-for="Features.Pagination.PageCount" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <h5>
                جستجو در
                @ViewData["Title"]
            </h5>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Features.SearchFeatures.CategoryId"></label>
                    <select class="form-select" asp-for="Features.SearchFeatures.CategoryId" asp-items="Model.Features.SearchFeatures.Categories"></select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Features.SearchFeatures.Title"></label>
                    <input class="form-control" asp-for="Features.SearchFeatures.Title" />
                    <span class="span-error-message" asp-validation-for="Features.SearchFeatures.Title"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Features.SearchFeatures.Sorting"></label>
                    <select class="form-select" asp-for="Features.SearchFeatures.Sorting" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.Features.SortingFeatures>()"></select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Features.SearchFeatures.SortingOrder"></label>
                    <select class="form-select" asp-for="Features.SearchFeatures.SortingOrder" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.SortingOrder>()"></select>
                </div>
                <div class="col-12 my-2">
                    <div class="d-grid d-lg-block">
                        <button type="submit" class="btn btn-primary d-inline-flex align-items-center search-form-submit-button" disabled>
                            جستجو ...
                            <span class="spinner-border spinner-border-sm d-none ms-2"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="data-table-place">
                <div class="text-center data-table-loading">
                    <img src="~/images/application/loading.gif" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script src="~/lib/tinymce/tinymce.min.js"></script>
<script src="~/lib/select2/js/select2.min.js"></script>
<script src="~/lib/select2/js/i18n/fa.min.js"></script>
<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
}
@section CustomScripts{
<script src="~/Pages/Admin/Category/Index.cshtml.js"></script>
}
@section Styles{
<link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.rtl.min.css" />
<link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
}