@font-face {
    font-family: 'Vazir';
    src: url('fonts/vazir/Vazir-Regular.eot');
    src: url('fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/vazir/Vazir-Regular.woff2') format('woff2'),
         url('fonts/vazir/Vazir-Regular.woff') format('woff'),
         url('fonts/vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Vazir';
    background-color: #f5f5f5;
}

.box-shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

a{
    text-decoration: none !important;
}

.logo{
    height: 36px;
    display: block;
    background: url('../images/logo.svg') no-repeat 100%;
    background-size: auto 100%;
}

/* Start main menu */

.custom-navbar{
    background-color: #616161;
}

.nav-line{
    height: 2px;
}

.main-menu-dropdown{
    width: 99%;
}

.main-link-dropdown-in-main-menu i{
    padding: 5px;
    vertical-align: -2px;
    transition: padding-right .1s;
}

.main-link-dropdown-in-main-menu a:hover{
    display: inline;
    padding: 5px;
    transition: padding-right .1s;
}

.list-gruop-main-menu a{
    color: #6a6a6a;
    padding-right: 30px;
}
.list-gruop-main-menu a:hover{
    font-weight: bolder;
}

.list-gruop-main-menu li{
    padding-right: 2px;
}
.custom-navbar .nav-link{
    height: 37px;
}
.custom-navbar .nav-link:hover{
    transition: box-shadow .3s;
    border-bottom: 2px solid #ef5651;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.200) !important;
}

.main-menu-left-link{
    background-color: #4f4f4f;
    padding: 2px 7px;
}

/* End main menu */

/* Show product info */

#show-product-box{
    box-shadow: 0 12px 12px hsla(0, 0, 71%, .11);
    border: 1px solid #e4e4e4;
}

#buttons-next-to-gallery-box li:first-child{
    font-size: .938rem;
    font-weight: bold;
}

#buttons-next-to-gallery-box button{
    color: #6d706f;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #cacaca;
    margin: 3px 0;
}

#buttons-next-to-gallery-box button:hover{
    border: 1px solid #626766;
}

#buttons-next-to-gallery-box i{
    padding: 5px;
    font-size: 1.25rem;
}

#product-thumbnails-box li{
    width: 80px;
    height: 80px;
    background-color: #fefefe;
    border: solid 1px #e2e2e2;
}

#product-fa-title-in-show-product-info{
    line-height: 2rem;
}

#product-en-title-line{
    height: 1px;
}

.text-custom-grey{
    color: #c0c2c5;
}

.bg-custom-grey{
    background: #c0c2c5;
}

.product-info-dots{
    width: 5px;
    height: 5px;
}

#product-variants-box-in-show-product-info div:not(:first-child){
    margin-right: 5px;
}

#product-variants-box-in-show-product-info div{
    width: 40px;
    height: 40px;
    border: 1px solid #d4d6d8;
}
#product-variants-box-in-show-product-info span{
    background-color: red;
    width: 90%;
    height: 90%;
}
#product-variants-box-in-show-product-info i{
    line-height: 0;
}
.selected-variant-in-show-product-info{
    border: 3px solid #19bfd3 !important;
}

li{
    list-style-type: none;
}

#category-guide{
    line-height: 1.6rem;
}

#product-info-left-side-box{
    background-color: #f7f7f7;
}
/* End show product info */

/* Main style */

/* 21px */
.rem21px{
    font-size: 1.313rem;
}

/* 20px */
.rem20px{
    font-size: 1.25rem;
}

/* 19px */
.rem19px{
    font-size: 1.188rem;
}

/* 18px */
.rem18px{
    font-size: 1.125rem;
}

/* 17px */
.rem17px{
    font-size: 1.063rem;
}

/* 16px */
.rem16px{
    font-size: 1rem;
}

/* 15px */
.rem15px{
    font-size: .938rem;
}

/* 14px */
.rem14px{
    font-size: .875rem;
}

/* 13px */
.rem13px{
    font-size: .813rem;
}

/* 12px */
.rem12px{
    font-size: 0.75rem;
}

/* 11px */
.rem11px{
    font-size: 0.688rem;
}

/* End main style */