@page
@model ProEShop.Web.Pages.SellerPanel.IndexModel
@{
    ViewData["Title"] = "Test";
}

<div class="row">
    <div class="col-lg-3 bg-danger">
        This is a test text
    </div>
    <div class="col-lg-9">
        <a asp-page="Product/Create" class="btn btn-primary">Create product</a>
    </div>
</div>