@page
@model ProEShop.Web.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

Main page
<br />
<a class="btn btn-primary" asp-page="/Admin/Index">Admin</a>
<br />
<a class="btn btn-primary" asp-page="/Seller/Index">Seller</a>
<br />
<a class="btn btn-primary" asp-page="/Seller/Register">RegisterSeller</a>
<br />
<a class="btn btn-primary" asp-page="/SellerPanel/Index">SellerPanel</a>
<br />
<a class="btn btn-primary" asp-page="/Inventory/Index">Inventory</a>
<br />
<a class="btn btn-primary" asp-page="/Product/Index"
   asp-route-productCode="1" asp-route-slug="Test">Product 1</a>
<br />
<a class="btn btn-primary" asp-page="/Product/Index"
   asp-route-productCode="4" asp-route-slug="Test">Product 2</a>
<br />
<a class="btn btn-primary" asp-page="/Product/Index"
   asp-route-productCode="5" asp-route-slug="Test">Product 3 (No variant)</a>
<br />
<a class="btn btn-primary" asp-page="/Cart/Index">Cart</a>