@page
@model ProEShop.Web.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

Main page
<br />
<a class="btn btn-primary" asp-page="/Admin/Index">Admin</a>
<br />
<a class="btn btn-primary" asp-page="/Seller/Index">Seller</a>
<br />
<a class="btn btn-primary" asp-page="/Seller/Register">RegisterSeller</a>