<div class="container mt-4">
    <div id="cart-page-title" class="d-flex">
        <div class="d-flex flex-column">
            <div class="fw-bold text-danger pb-2 px-2">
                سبد خرید
            </div>
            <div class="bg-danger rounded-3" id="cart-page-title-border"></div>
        </div>
    </div>
    <div class="text-center rounded-3 border mt-3 py-4">
        <img src="/images/application/shopping-basket.png" width="150" height="150" />
        <h4 class="mt-3 fw-bold">
            سبد خرید شما خالی است!
        </h4>
        <div class="text-secondary rem12px mt-4">
            میتوانید برای مشاهده محصولات بیشتر به صفحات زیر بروید:
        </div>
        <div class="mt-4">
            <a class="text-info" href="#">تخفیف ها و پیشنهاد ها</a>
            <span class="text-custom-grey mx-2">|</span>
            <a class="text-info" href="#">محصولات پرفروش روز</a>
        </div>
    </div>
</div>