@page
@model ProEShop.Web.Pages.Inventory.Consignment.IndexModel
@{
    ViewData["Title"] = "محموله ها";
}

<div class="card text-dark bg-white border-0 shadow">
    <div class="card-body">
        <h5 class="card-title">
            @ViewData["Title"]
        </h5>
        <form class="alert alert-secondary search-form-via-ajax">
            <input asp-for="Consignments.Pagination.CurrentPage" />
            <input asp-for="Consignments.Pagination.PageCount" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <h5>
                جستجو در
                @ViewData["Title"]
            </h5>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Consignments.SearchConsignments.ShopName"></label>
                    <input autocomplete-search-url="@(Url.Page("./Index", "AutocompleteSearch"))" class="autocomplete form-control" asp-for="Consignments.SearchConsignments.ShopName" />
                    <span class="span-error-message" asp-validation-for="Consignments.SearchConsignments.ShopName"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Consignments.SearchConsignments.DeliveryDate"></label>
                    <div class="input-group">
                        <input class="form-control custom-md-persian-datepicker" asp-for="Consignments.SearchConsignments.DeliveryDate" />
                        <span class="input-group-text">
                            <i id="delivery-date-icon-inventory-consignment" class="pointer-cursor bi bi-calendar2-date"></i>
                        </span>
                    </div>
                    <span class="span-error-message" asp-validation-for="Consignments.SearchConsignments.DeliveryDate"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Consignments.SearchConsignments.ConsignmentStatus"></label>
                    <select class="form-select" asp-for="Consignments.SearchConsignments.ConsignmentStatus" asp-items="Html.GetEnumSelectList<ProEShop.Entities.ConsignmentStatus>()">
                        <option value="">همه</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Consignments.SearchConsignments.Sorting"></label>
                    <select class="form-select" asp-for="Consignments.SearchConsignments.Sorting" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.Consignments.SortingConsignments>()"></select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Consignments.SearchConsignments.SortingOrder"></label>
                    <select class="form-select" asp-for="Consignments.SearchConsignments.SortingOrder" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.SortingOrder>()"></select>
                </div>
                <div class="col-12 my-2">
                    <div class="d-grid d-lg-block">
                        <button type="submit" class="btn btn-primary d-inline-flex align-items-center search-form-submit-button" disabled>
                            جستجو ...
                            <span class="spinner-border spinner-border-sm d-none ms-2"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="data-table-place">
                <div class="text-center data-table-loading">
                    <img src="~/images/application/loading.gif" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script src="~/lib/md.bootstrappersiandatetimepicker/dist/mds.bs.datetimepicker.min.js"></script>
<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
<script src="~/lib/tinymce/tinymce.min.js"></script>
}
@section CustomScripts{
<script src="~/Pages/Inventory/Consignment/Index.cshtml.js"></script>
<link rel="stylesheet" href="~/lib/md.bootstrappersiandatetimepicker/dist/mds.bs.datetimepicker.style.min.css" />
<link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
}