.circle-dot-in-search-on-category {
    width: 4px;
    height: 4px;
}

.list-in-search-on-category {
    max-height: 300px;
}

.list-in-search-on-category input {
    caret-color: red;
}

.list-in-search-on-category input:focus {
    outline: none;
}

.list-item-in-search-on-category:not(:last-child) {
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6 !important;
}

.list-item-in-search-on-category input[type=checkbox] {
    width: 19px;
    height: 19px;
    margin-top: 2px;
}

.circle-color-in-search-on-category {
    width: 18px;
    height: 18px;
}