@font-face {
    font-family: Vazird;
    src: url('fonts/vazir/Vazir-Regular.eot');
    src: url('fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/vazir/Vazir-Regular.woff2') format('woff2'), url('fonts/vazir/Vazir-Regular.woff') format('woff'), url('fonts/vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#main-header {
    align-items: center;
}

.logo {
    height: 45px;
}

#main-search-box {
    background: #e9ecef;
    border-radius: 4px;
    padding: .3rem;
}

    #main-search-box span {
        border: none;
    }

        #main-search-box span:last-child {
            cursor: pointer;
        }

    #main-search-box input {
        background: transparent;
        border: none;
        color: #7e7d7d;
        font-size: .85rem;
    }

        #main-search-box input:focus {
            box-shadow: none;
        }

#ul-profile-menus {
    font-size: .9rem;
}

#wallet-and-pro-kala-box {
    margin-top: 12px;
}

    #wallet-and-pro-kala-box div:last-child {
        margin-top: 8px;
    }

#user-avatar-in-header {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #b7b7b7;
}

#profile-menus {
    display: flex;
    align-items: center;
}

.profile-dropdown-menu-lines {
    padding: 0 12px;
}

/* Start main menu */

.custom-navbar {
    background-color: #616161;
}

.nav-line {
    height: 2px;
}

.main-menu-dropdown {
    width: 99%;
}

.main-link-dropdown-in-main-menu i {
    padding: 5px;
    vertical-align: -2px;
    transition: padding-right .1s;
}

.main-link-dropdown-in-main-menu a:hover {
    display: inline;
    padding: 5px;
    transition: padding-right .1s;
}

.list-gruop-main-menu a {
    color: #6a6a6a;
    padding-right: 30px;
}

    .list-gruop-main-menu a:hover {
        font-weight: bolder;
    }

.list-gruop-main-menu li {
    padding-right: 2px;
}

.custom-navbar .nav-link {
    height: 37px;
}

    .custom-navbar .nav-link:hover {
        transition: box-shadow .3s;
        border-bottom: 2px solid #ef5651;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.200) !important;
    }

.main-menu-left-link {
    background-color: #4f4f4f;
    padding: 2px 7px;
}

#cart-dropdown-body {
    width: 360px;
}

    #cart-dropdown-body ul {
        max-height: 266px;
        overflow-y: auto;
    }

        #cart-dropdown-body ul li {
            width: 96%;
        }

            #cart-dropdown-body ul li:not(:last-child) {
                width: 96%;
                border-bottom: 1px solid#ebe7e7;
            }

/* End main menu */
