@font-face {
    font-family: Vazird;
    src: url('fonts/vazir/Vazir-Regular.eot');
    src: url('fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/vazir/Vazir-Regular.woff2') format('woff2'),
         url('fonts/vazir/Vazir-Regular.woff') format('woff'),
         url('fonts/vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pointer-cursor {
    cursor: pointer;
}

.not-allowed-cursor {
    cursor: not-allowed;
}

* {
    font-family: Vazir, tahoma;
}

body {
    background-color: #f5f5f5;
}

.custom-box-shadow{
    box-shadow: 0px 2px 12px 1px rgb(0 0 0 / .47);
}

a{
    text-decoration: none;
}

.rem1and3{
    font-size: 1.3rem;
}

.rem0and75{
    font-size: 0.75rem;
}

.rem0and9{
    font-size: 0.9rem;
}

.span-error-message {
    color: #df0202;
    padding: 0 5px;
    display: block;
    margin-top: 5px;
    font-size: .9rem;
}

.modal span.select2-dropdown.select2-dropdown--below {
    left: -17px;
}

.max-width-200 {
    max-width: 200px
}

.rtl-direction {
    direction: rtl;
}

.ui-autocomplete {
    z-index: 5000;
}

.rtl-direction {
    direction: rtl;
}

.border-bottom-dashed {
    border-bottom: 2px dashed #0DCAF0;
}

.custom-overflow-y {
    overflow-y: scroll;
}