@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir/Vazir-Regular.eot');
    src: url('../fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Regular.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Regular.woff') format('woff'),
         url('../fonts/vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pointer-cursor {
    cursor: pointer;
}

.not-allowed-cursor {
    cursor: not-allowed;
}

* {
    font-family: 'Vazir', 'Tahoma';
}

body {
    background-color: #f5f5f5;
}

a{
    text-decoration: none;
}

.rem1and3{
    font-size: 1.3rem;
}

.rem0and75{
    font-size: 0.75rem;
}

.rem0and9{
    font-size: 0.9rem;
}

.span-error-message {
    color: #df0202;
    padding: 0 5px;
    display: block;
    margin-top: 5px;
    font-size: .9rem;
}

.modal span.select2-dropdown.select2-dropdown--below {
    left: -17px;
}

.max-width-200 {
    max-width: 200px
}

.rtl-direction {
    direction: rtl;
}

.ui-autocomplete {
    z-index: 5000;
}

.rtl-direction {
    direction: rtl;
}

.border-bottom-dashed {
    border-bottom: 2px dashed #0DCAF0;
}

.custom-overflow-y {
    overflow-y: scroll;
}

li {
    list-style-type: none;
}

/* 21px */
.rem21px {
    font-size: 1.313rem;
}

/* 20px */
.rem20px {
    font-size: 1.25rem;
}

/* 19px */
.rem19px {
    font-size: 1.188rem;
}

/* 18px */
.rem18px {
    font-size: 1.125rem;
}

/* 17px */
.rem17px {
    font-size: 1.063rem;
}

/* 16px */
.rem16px {
    font-size: 1rem;
}

/* 15px */
.rem15px {
    font-size: .938rem;
}

/* 14px */
.rem14px {
    font-size: .875rem;
}

/* 13px */
.rem13px {
    font-size: .813rem;
}

/* 12px */
.rem12px {
    font-size: 0.75rem;
}

/* 11px */
.rem11px {
    font-size: 0.688rem;
}

.disable-selecting {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-custom-grey {
    color: #c0c2c5;
}