.buyer-backgournd-color-in-single-page-of-product {
    background-color: #dedede;
}

.comment-variant-color-in-single-page-of-product {
    width: 17px;
    height: 17px;
}

.not-suggeset-color-in-single-page-of-product {
    color: #f57f17;
}