@model ProEShop.ViewModels.DiscountNotices.AddDiscountNoticeViewModel

<div class="fw-bold">
    اگر کالا شگفت انگیز شد، چطور به شما اطلاع دهیم ؟
</div>

<form method="post" class="mt-3 public-ajax-form" functionNameToCallInTheEnd="addDiscountNoticeFunction" asp-page-handler="AddDiscountNotice">
    <input asp-for="ProductId" />
    @if (Model.Email != null)
    {
        <div class="form-check my-2">
            <input class="form-check-input" asp-for="NoticeViaEmail"/>
            <label asp-for="NoticeViaEmail" class="form-check-label rem14px text-secondary ms-2">
                ارسال ایمیل به
                @Model.Email
            </label>
        </div>
    }
    <div class="form-check my-2">
        <input class="form-check-input" asp-for="NoticeViaPhoneNumber"/>
        <label asp-for="NoticeViaPhoneNumber" class="form-check-label rem14px text-secondary ms-2">
            ارسال پیامک به
            <span class="persian-numbers">@Model.PhoneNumber</span>
        </label>
    </div>
    <div class="form-check my-2">
        <input class="form-check-input" asp-for="NoticeViaChat"/>
        <label asp-for="NoticeViaChat" class="form-check-label rem14px text-secondary ms-2">
            سیستم پیام شخصی پروشاپ
        </label>
    </div>
    <div class="text-end">
        <button class="btn btn-danger px-4">ثبت</button>
    </div>
</form>