@model List<ProEShop.ViewModels.Products.ProductVariantForProductInfoViewModel>

<!-- Other variants -->

<div class="container mt-3">
    <div class="row">
        <p class="fw-bold mb-2">فروشندگان این کالا</p>
        <span class="border border-danger ms-2" id="other-sellers-bottom-line"></span>
        <!-- Other sellers table -->
        <div class="table-responsive mt-4" id="other-sellers-table">
            <table class="table table-bordered box-shadow align-middle">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>فروشنده</th>
                        <th>گارانتی</th>
                        <th>قیمت</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var variant in Model)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(variant.SellerLogo))
                                {
                                    <img src="~/images/seller-logos/@variant.SellerLogo" width="50"
                                 alt="@variant.SellerShopName" />
                                }
                                else
                                {
                                    <i class="bi bi-shop me-2 rem21px"></i>
                                }
                                @variant.SellerShopName
                            </td>
                            <td>@variant.GuaranteeFullTitle</td>
                            <td>
                                @variant.Price
                                تومان
                            </td>
                            <td class="text-center">
                                <button class="btn btn-danger rounded-3">
                                    افزودن به سبد
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- End other sellers table -->
    </div>
</div>

<!-- End other variants -->