/* Other sellers */

#other-sellers-bottom-line {
    width: 5rem;
    height: 2px;
}

.other-sellers-table th, .other-sellers-table td {
    padding: 0.8rem .8rem;
}

.other-sellers-table .count-down-timer {
    line-height: 16px;
}

/* End other sellers */