@model (string productTitle, string productLink)
<div class="modal" id="share-product-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">اشتراک گذاری</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <p>
                    این کالا را با دوستان خود به اشتراک بگذارید!
                </p>
                <div class="d-grid">
                    <button class="btn border-dark">
                        <i class="bi bi-clipboard-check rem20px"></i>
                        <span>
                            کپی کردن لینک
                        </span>
                    </button>
                </div>
                <div class="row p-3 d-flex justify-content-between product-share-buttons">
                    <a href="whatsapp://send?text=@Model.productTitle@(Model.productLink)" class="btn btn-success py-2 mb-2">
                        <i class="bi bi-whatsapp"></i>
                        <span class="ms-1">
                            واتس اپ
                        </span>
                    </a>
                    <a href="http://twitter.com/share?text=@Model.productTitle&url=@Model.productLink" class="btn btn-info text-white py-2 mb-2" target="_blank">
                        <i class="bi bi-twitter"></i>
                        <span class="ms-1">
                            توییتر
                        </span>
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=@Model.productLink" class="btn btn-primary py-2" target="_blank">
                        <i class="bi bi-facebook"></i>
                        <span class="ms-1">
                            فیسبوک
                        </span>
                    </a>
                    <a href="#" class="btn btn-primary py-2 d-md-none">
                        <i class="bi bi-envelope"></i>
                        <span class="ms-1">
                            شماره
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>