@model ProEShop.ViewModels.MainHeaderViewModel

<div class="container-fluid bg-white shadow-sm">
    <div class="row p-3" id="main-header">
        <div class="col-12 col-lg-2 text-center text-lg-start mb-3 mb-lg-0 ps-2">
            <a asp-page="/Index">
                <img src="~/images/application/eshop.png" class="logo" />
            </a>
        </div>
        <div class="col-lg-6 col-xl-5 col-md-9">
            <div class="input-group" id="main-search-box">
                <span class="input-group-text bi bi-search">
                </span>
                <input id="main-search-input" type="text" class="form-control" />
                <span class="input-group-text bi bi-x-circle text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-lg-4 ms-auto text-end d-flex justify-content-center justify-content-md-end align-items-center">
            <a condition="!User.Identity.IsAuthenticated" asp-page="/Identity/RegisterLogin" class="btn btn-light me-1">
                <i class="bi bi-box-arrow-in-left rem1and3"></i>
                &nbsp;
                <span>
                    ورود
                    <span class="d-none d-lg-inline-block">به حساب کاربری</span>
                </span>
            </a>
            <div condition="User.Identity.IsAuthenticated" class="dropdown">
                <button class="btn btn-light dropdown-toggle dropstart me-1" type="button" id="profile-dropdown-menu"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person rem1and3"></i>
                </button>
                <ul class="dropdown-menu shadow-sm" aria-labelledby="profile-dropdown-menu"
                    id="ul-profile-menus">
                    <li>
                        <a class="dropdown-item" asp-page="/Profile/Index">
                            <div id="profile-menus">
                                <img src="~/images/avatars/user-default-avatar.png" id="user-avatar-in-header" alt="">
                                &nbsp;
                                &nbsp;
                                <div>
                                    <span>
                                        پیام شریعتی
                                    </span>
                                    <br />
                                    <span class="text-info rem0and75">
                                        مشاهده حساب کاربری
                                        <i class="bi bi-chevron-left"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="rem0and75 text-secondary" id="wallet-and-pro-kala-box">
                                <div class="d-flex justify-content-between">
                                    <span>
                                        کیف پول
                                    </span>
                                    <span>
                                        ۰ تومان
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>
                                        پرو کلاب
                                    </span>
                                    <span>
                                        ۰ امتیار
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="profile-dropdown-menu-lines">
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bi bi-card-checklist"></i>
                            سفارش های من
                        </a>
                    </li>
                    <li class="profile-dropdown-menu-lines">
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bi bi-gift"></i>
                            جوایز پرو کلاب
                        </a>
                    </li>
                    <li class="profile-dropdown-menu-lines">
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form method="post" asp-page="/Identity/RegisterLogin" asp-page-handler="LogOut">
                            <button class="dropdown-item">
                                <i class="bi bi-box-arrow-right"></i>
                                خروج از حساب کاربری
                            </button>
                        </form>
                    </li>
                </ul>
            </div>

            <span style="height: 26px; border-right: 1px solid #dad4d4;"></span>
            @{
                // در صفحه سبد خرید نباید بخش بادی دراپ داون نمایش داده شود
            }
            @if (ViewData["HideMainCartDropdown"] != null)
            {
                <div class="dropdown">
                    <button class="btn btn-light position-relative dropstart" type="button" id="cart-dropdown">
                        <i class="bi bi-cart rem1and3"></i>
                        <span class="persian-numbers position-absolute top-100 start-50 translate-middle badge rounded-pill bg-danger" id="cart-count-text">
                            @Model.AllProductsCountInCart
                        </span>
                    </button>
                </div>
            }
            else
            {
                <div class="dropdown">
                    <button class="btn btn-light position-relative dropstart" type="button" id="cart-dropdown" data-bs-auto-close="outside"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-cart rem1and3"></i>
                        <span class="persian-numbers position-absolute top-100 start-50 translate-middle badge rounded-pill bg-danger" id="cart-count-text">
                            @Model.AllProductsCountInCart
                        </span>
                    </button>
                    <div class="dropdown-menu shadow-sm" aria-labelledby="profile-dropdown-menu" id="cart-dropdown-body">
                        <partial name="_CartPartial" model="Model.Carts" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>