@page
@model ProEShop.Web.Pages.Inventory.ProductStock.AddProductStockByConsignmentModel
@{
    ViewData["Title"] = "افزودن موجودی بر اساس محموله";
}

<form method="post" class="mt-3 public-ajax-form" functionNameToCallInTheEnd="addProductStockFunction">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 my-2">
            <label asp-for="AddProductStock.ConsignmentId" class="form-label"></label>
            <input asp-for="AddProductStock.ConsignmentId" class="form-control" />
            <span asp-validation-for="AddProductStock.ConsignmentId" class="span-error-message"></span>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-2">
            <label asp-for="AddProductStock.ProductVariantId" class="form-label"></label>
            <input asp-for="AddProductStock.ProductVariantId" class="form-control" />
            <span asp-validation-for="AddProductStock.ProductVariantId" class="span-error-message"></span>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-2">
            <label asp-for="AddProductStock.Count" class="form-label"></label>
            <input asp-for="AddProductStock.Count" class="form-control" />
            <span asp-validation-for="AddProductStock.Count" class="span-error-message"></span>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary">
                افزایش موجودی
            </button>
        </div>
    </div>
</form>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}
@section CustomScripts
{
<script src="~/Pages/Inventory/ProductStock/AddProductStockByConsignment.cshtml.js"></script>
}
