<div id="sidebar" class="col-6 col-sm-4 col-lg-2 bg-dark collapse show position-fixed">
    <ul class="nav d-flex flex-column">
        <li class="nav-item">
            <a href="#sub-menu1" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    دسته بندی ها
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu1">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/Admin/Category/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش دسته بندی ها
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#sub-menu2" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    ویژگی های دسته بندی ها
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu2">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/Admin/CategoryFeature/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش ویژگی های دسته بندی ها
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>