<div id="sidebar" class="col-6 col-sm-4 col-lg-2 bg-dark collapse show position-fixed">
    <ul class="nav d-flex flex-column">
        <li class="nav-item">
            <a href="#sub-menu1" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    دسته بندی ها
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu1">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/Admin/Category/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش دسته بندی ها
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#sub-menu2" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    ویژگی های دسته بندی ها
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu2">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/Admin/Feature/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش ویژگی های دسته بندی ها
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#sub-menu3" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    فروشندگان
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu3">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/Admin/Seller/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش تمامی فروشندگان
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#sub-menu4" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    برند ها
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu4">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/Admin/Brand/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش تمامی برند ها
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#sub-menu5" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    مقادیر ثابت ویژگی ها
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu5">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/Admin/FeatureConstantValue/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش مقادیر ثابت ویژگی ها
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#sub-menu6" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    محصولات
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu6">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/Admin/Product/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش محصولات
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#sub-menu7" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    تنوع های دسته بندی
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu7">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/Admin/Variant/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش تنوع های دسته بندی
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#sub-menu8" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    گارانتی ها
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu8">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/Admin/Guarantee/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش گارانتی ها
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#sub-menu9" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    لینک های کوتاه محصولات
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu9">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/Admin/ProductShortLink/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش لینک های کوتاه محصولات
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>