@model ProEShop.ViewModels.Products.ShowProductInComparePartialViewModel
<div class="input-group mb-3">
    <span class="input-group-text bi bi-search">
    </span>
    <input type="text" class="form-control" id="search-input-in-compare-page" autocomplete="off" placeholder="جستجو در کالاها ..." />
</div>

<div class="d-flex justify-content-between text-secondary rem15px" id="add-product-header-in-compare-page">
    <div class="mb-3">برترین کالاها برای مقایسه</div>
    <div>
        <span class="persian-numbers" id="product-count-in-compare-page">@Model.Count</span>
        کالا
    </div>
</div>

<div class="row" id="add-product-modal-in-compare-page">
    <partial name="~/Pages/Compare/_ProductsInAddProductPartial.cshtml" model="Model.Products" />
</div>

<div class="mt-2 text-center" id="compare-partial-loading">
    <img src="~/images/application/loading1.gif" width="30" />
</div>