@page
@model ProEShop.Web.Pages.Admin.Seller.IndexModel
@{
    ViewData["Title"] = "فروشندگان";
}

<div class="card text-dark bg-white border-0 shadow">
    <div class="card-body">
        <h5 class="card-title">
            @ViewData["Title"]
        </h5>
        <form class="alert alert-secondary search-form-via-ajax">
            <input asp-for="Sellers.Pagination.CurrentPage" />
            <input asp-for="Sellers.Pagination.PageCount" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <h5>
                جستجو در
                @ViewData["Title"]
            </h5>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Sellers.SearchSellers.SellerCode"></label>
                    <input class="form-control" asp-for="Sellers.SearchSellers.SellerCode" />
                    <span class="span-error-message" asp-validation-for="Sellers.SearchSellers.SellerCode"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Sellers.SearchSellers.FullName"></label>
                    <input class="form-control" asp-for="Sellers.SearchSellers.FullName" />
                    <span class="span-error-message" asp-validation-for="Sellers.SearchSellers.FullName"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Sellers.SearchSellers.ShopName"></label>
                    <input class="form-control" asp-for="Sellers.SearchSellers.ShopName" />
                    <span class="span-error-message" asp-validation-for="Sellers.SearchSellers.ShopName"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Sellers.SearchSellers.IsActiveStatus"></label>
                    <select class="form-select" asp-for="Sellers.SearchSellers.IsActiveStatus" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.Sellers.IsActiveStatus>()"></select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Sellers.SearchSellers.IsRealPersonStatus"></label>
                    <select class="form-select" asp-for="Sellers.SearchSellers.IsRealPersonStatus" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.Sellers.IsRealPersonStatus>()"></select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Sellers.SearchSellers.DocumentStatus"></label>
                    <select class="form-select" asp-for="Sellers.SearchSellers.DocumentStatus" asp-items="Html.GetEnumSelectList<ProEShop.Entities.DocumentStatus>()">
                        <option value="">نمایش همه</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Sellers.SearchSellers.Sorting"></label>
                    <select class="form-select" asp-for="Sellers.SearchSellers.Sorting" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.Sellers.SortingSellers>()"></select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Sellers.SearchSellers.SortingOrder"></label>
                    <select class="form-select" asp-for="Sellers.SearchSellers.SortingOrder" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.SortingOrder>()"></select>
                </div>
                <div class="col-12 my-2">
                    <div class="d-grid d-lg-block">
                        <button type="submit" class="btn btn-primary d-inline-flex align-items-center search-form-submit-button" disabled>
                            جستجو ...
                            <span class="spinner-border spinner-border-sm d-none ms-2"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="data-table-place">
                <div class="text-center data-table-loading">
                    <img src="~/images/application/loading.gif" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script src="~/lib/tinymce/tinymce.min.js"></script>
}
@section CustomScripts{
<script src="~/Pages/Admin/Seller/Index.cshtml.js"></script>
}