@page
@model ProEShop.Web.Pages.SellerPanel.Product.AllModel
@{
    ViewData["Title"] = "تمامی محصولات";
}

<div class="card text-dark bg-white border-0 shadow">
    <div class="card-body">
        <h5 class="card-title">
            @ViewData["Title"]
        </h5>
        <form class="alert alert-secondary search-form-via-ajax">
            <input asp-for="Products.Pagination.CurrentPage" />
            <input asp-for="Products.Pagination.PageCount" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <h5>
                جستجو در
                @ViewData["Title"]
            </h5>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Products.SearchProducts.PersianTitle"></label>
                    <input autocomplete-search-url="@(Url.Page("./Index", "AutocompleteSearchForPersianTitle"))" class="autocomplete form-control" asp-for="Products.SearchProducts.PersianTitle" />
                    <span class="span-error-message" asp-validation-for="Products.SearchProducts.PersianTitle"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Products.SearchProducts.MainCategoryId"></label>
                    <select class="custom-select2 form-select" asp-for="Products.SearchProducts.MainCategoryId" asp-items="Model.Products.SearchProducts.Categories">
                    </select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Products.SearchProducts.ProductCode"></label>
                    <input class="form-control" asp-for="Products.SearchProducts.ProductCode" />
                    <span class="span-error-message" asp-validation-for="Products.SearchProducts.ProductCode"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Products.SearchProducts.IsFake"></label>
                    <select class="form-select" asp-for="Products.SearchProducts.IsFake">
                        <option value="">همه</option>
                        <option value="false">اصل</option>
                        <option value="true">غیر اصل</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Products.SearchProducts.Status"></label>
                    <select class="form-select" asp-for="Products.SearchProducts.Status" asp-items="Html.GetEnumSelectList<ProEShop.Entities.ProductStatus>()">
                        <option value="">همه</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Products.SearchProducts.Sorting"></label>
                    <select class="form-select" asp-for="Products.SearchProducts.Sorting" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.Products.SortingProducts>()"></select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-label" asp-for="Products.SearchProducts.SortingOrder"></label>
                    <select class="form-select" asp-for="Products.SearchProducts.SortingOrder" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.SortingOrder>()"></select>
                </div>
                <div class="col-12 my-2">
                    <div class="d-grid d-lg-block">
                        <button type="submit" class="btn btn-primary d-inline-flex align-items-center search-form-submit-button" disabled>
                            جستجو ...
                            <span class="spinner-border spinner-border-sm d-none ms-2"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="data-table-place">
                <div class="text-center data-table-loading">
                    <img src="~/images/application/loading.gif" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script src="~/lib/tinymce/tinymce.min.js"></script>
<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
<script src="~/lib/select2/js/select2.min.js"></script>
<script src="~/lib/select2/js/i18n/fa.min.js"></script>
}
@section CustomScripts{
<script src="~/Pages/Admin/Product/Index.cshtml.js"></script>
}
@section Styles
{
<link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
<link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.rtl.min.css" />
}