@page
@model ProEShop.Web.Pages.SellerPanel.Product.CreateModel
@{
    ViewData["Title"] = "ایجاد محصول";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            ایجاد محصول
        </div>
    </div>
    <div class="card-body">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#product-category" type="button" role="tab" aria-controls="nav-home" aria-selected="true">انتخاب گروه کالا</button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#second" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">تب دوم</button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contract" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">تب سوم</button>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="product-category">
                    <div class="card overflow-hidden">
                        <div class="card-body row flex-nowrap overflow-auto">
                        </div>
                        <div class="row px-4 my-3">
                            <div class="col-lg-9 d-flex align-items-center rounded-1 bg-secondary text-white rem0and9 py-3 py-lg-0 mb-3 mb-lg-0">
                                <span>گروه کالایی انتخابی شما : &nbsp;</span>
                                <span id="selected-categories-for-add-product">
                                </span>
                            </div>
                            <div class="col-lg-3 text-center text-lg-start">
                                <button disabled="disabled" class="btn btn-light" id="select-product-category-button">انتخاب گروه کالا</button>
                                <button class="btn btn-outline-danger" id="reset-product-category-button">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
@section CustomScripts
{
    <script src="~/Pages/SellerPanel/Product/Create.cshtml.js"></script>
}