@page
@model ProEShop.Web.Pages.SellerPanel.Product.CreateModel
@{
    ViewData["Title"] = "ایجاد محصول";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            ایجاد محصول
        </div>
    </div>
    <div class="card-body">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#product-category" type="button" role="tab" aria-controls="nav-home" aria-selected="true">انتخاب گروه کالا</button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#second" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">تب دوم</button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contract" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">تب سوم</button>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="product-category">
                    <div class="card">
                        <div class="card-body row">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
@section CustomScripts
{
    <script src="~/Pages/SellerPanel/Product/Create.cshtml.js"></script>
}