@page
@model ProEShop.Web.Pages.SellerPanel.Product.SuccessfulProductVariantModel
@{
    ViewData["Title"] = "تنوع محصول با موفقیت ایجاد شد";
}

<div class="row justify-content-center">
    <div class="col-lg-8 alert alert-success text-center">
        <h4 class="alert-heading">
            <i class="bi bi-info-circle-fill text-info"></i>
            تنوع محصول ایجاد شد
        </h4>
        هم اکنون میتوانید محصولی را که برایش تنوع ایجاد کرده اید برای انبار های 
        <a asp-page="/Index">
            پروشاپ
        </a>
        از طریق پست ارسال نمایید تا موجودی کالا های شما افزایش یابد
    </div>
</div>