@page
@model ProEShop.Web.Pages.SellerPanel.Product.SuccessfulModel
@{
    ViewData["Title"] = "محصول مورد نظر با موفقیت ایجاد شد";
}

<div class="row justify-content-center">
    <div class="col-lg-8 alert alert-success text-center">
        <h4 class="alert-heading">
            <i class="bi bi-info-circle-fill text-info"></i>
            محصول ایجاد شد
        </h4>
        محصول مورد نظر با موفقیت ایجاد شد،
        پس از تایید شدن محصول توسط کارشناسان
        <a asp-page="/Index">
            پروشاپ
        </a>
        میتوانید برای این محصول موجودی اضافه کنید؛
        مراتب از طریق ایمیل به شما اطلاع رسانی خواهد شد.
    </div>
</div>