@model ProEShop.ViewModels.Categories.EditCategoryViewModel

<form class="alert alert-secondary custom-ajax-form" asp-page-handler="Edit" method="post">
    <input asp-for="Id" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 my-2">
            <label class="form-label" asp-for="Title"></label>
            <input class="form-control" asp-for="Title"/>
            <span class="span-error-message" asp-validation-for="Title"></span>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 my-2">
            <label class="form-label" asp-for="Slug"></label>
            <input class="form-control" asp-for="Slug"/>
            <span class="span-error-message" asp-validation-for="Slug"></span>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 my-2">
            <label class="form-label" asp-for="Picture"></label>
            <input class="form-control" asp-for="Picture"/>
            <span class="span-error-message" asp-validation-for="Picture"></span>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 my-2">
            <label class="form-label" asp-for="ParentId"></label>
            <select class="form-select custom-select2" asp-for="ParentId" asp-items="Model.MainCategories">
            </select>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 my-2 form-check form-switch px-3">
            <label class="form-check-label" asp-for="SelectedPicture"></label>
            @if (Model.SelectedPicture != null)
            {
                <p>
                    <img src="~/images/categories/@Model.SelectedPicture" class="rounded w-100" />
                </p>
            }
            else
            {
                <p>بدون تصویر</p>
            }
        </div>
        <div class="col-12 col-sm-6 my-2 form-check form-switch px-3">
            <label class="form-check-label" asp-for="ShowInMenus"></label>
            <div>
                <input class="form-check-input m-0" asp-for="ShowInMenus"/>
            </div>
        </div>
        <div class="col-12 my-2">
            <label class="form-label" asp-for="Description"></label>
            <textarea class="form-control custom-tinymce" asp-for="Description"></textarea>
            <span class="span-error-message" asp-validation-for="Description"></span>
        </div>
        <div class="col-12 my-2">
            <div class="d-grid d-lg-block">
                <button type="submit" class="btn btn-primary d-inline-flex align-items-center submit-custom-ajax-button">
                    ویرایش
                    <span class="spinner-border spinner-border-sm d-none ms-2"></span>
                </button>
            </div>
        </div>
    </div>
</form>