@page
@model ProEShop.Web.Pages.Admin.Category.IndexModel
@{
    ViewData["Title"] = "دسته بندی ها";
}

<div class="card text-dark bg-white border-0 shadow">
    <div class="card-body">
        <h5 class="card-title">
            @ViewData["Title"]
        </h5>
        <form class="alert alert-secondary search-form-via-ajax">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h5>
                جستجو در
                @ViewData["Title"]
            </h5>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-form-label" asp-for="SearchCategories.Title"></label>
                    <input class="form-control" asp-for="SearchCategories.Title" />
                    <span class="span-error-message" asp-validation-for="SearchCategories.Title"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-form-label" asp-for="SearchCategories.Slug"></label>
                    <input class="form-control" asp-for="SearchCategories.Slug" />
                    <span class="span-error-message" asp-validation-for="SearchCategories.Slug"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-form-label" asp-for="SearchCategories.ShowInMenusStatus"></label>
                    <select class="form-select" asp-for="SearchCategories.ShowInMenusStatus" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.Categories.ShowInMenusStatus>()"></select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-form-label" asp-for="SearchCategories.DeletedStatus"></label>
                    <select class="form-select" asp-for="SearchCategories.DeletedStatus" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.DeletedStatus>()"></select>
                </div>
                <div class="col-12 my-2">
                    <div class="d-grid d-lg-block">
                        <button type="submit" class="btn btn-primary d-inline-flex align-items-center search-form-loading" disabled>
                            جستجو ...
                            &nbsp;
                            <span class="spinner-border spinner-border-sm d-none"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="data-table-place">
            <div class="text-center data-table-loading">
                <img src="~/images/application/loading.gif" />
            </div>
        </div>
    </div>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}
@section CustomScripts{
<script src="~/Pages/Admin/Category/Index.cshtml.js"></script>
}