@{
    Layout = null;
}
<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/login.style.css">
    <title>سلام به دنیا</title>
</head>

<body>

    <div class="d-flex justify-content-center" id="login-box">
        <div class="rounded-3 border border-1 col-11 col-md-9 col-lg-6 col-xl-5 col-xxl-4 py-4 px-5 mt-5">
            <div class="text-center">
                <img src="~/images/eshop.png" width="140">
            </div>
            <div id="login-register-text" class="mt-3 rem1and3">
                ورود / ثبت نام
            </div>
            <form action="" class="mt-3">
                <div>
                    <label class="form-label" for="" style="font-size: .9rem;">
                        شماره موبایل یا پست الکترونیک خود را وارد
                        کنید
                    </label>
                    <input type="text" class="form-control mt-3">
                    <span class="text-danger px-2 rem0and9">شماره تلفن اشتباه است</span>
                </div>
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-danger">
                        ورود به پرو شاپ
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>